.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  font-weight: bold;
  margin: 0;
}


.subheader {
  font-size: 12px;
  padding: 10px 5px;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

button.disabled {
  pointer-events: none;
  background-color: grey;
  border: 1px solid grey;
}

button.disabled:hover {
  cursor: not-allowed;
}


div.loading button {
  pointer-events: none;
  background-color: grey;
  border: 1px solid grey;
} 

div.non-loading,div.loading{
  margin:10px;
}

/* div.loading{
  display: flex;
  flex-direction: row;
  align-items: center

} */

div.loading div.loader{
  position: absolute;
  top: 50%;
    left: 40%;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width:5px;
  height: 5px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  border-radius: 4px;
  outline: none;
}

.input-wrapper {
  margin: 8px 0;
  width: 100%;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  margin: 10px 0;
}

.input-wrapper.error input {
  border: 1px solid red;
}

.input-wrapper.error::after {
  content: "This Field is Required";
  pointer-events: none;
  height: 100%;
  left: 1em;
  position: absolute;
  top: 3em;
  margin: 5px;
  font-size: 12px;
  color: indianred;
}

.sign-in-container{
  position: relative;
}